@using YG.SC.Model
@using YG.SC.Common
@using YG.SC.DataAccess
﻿@model YG.SC.DataAccess.M_Mission
@{
    ViewBag.Title = "任务详情-会员中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CommonEnum.GroupOfCustomer _userGroup = ViewBag.UserGroup;
	string _contractUrl = ViewBag.ContractUrl as string;
	Dictionary<int, string> _typeOfPaymentList = ViewBag.TypeOfPayment as Dictionary<int, string>;
	string boxName = ViewBag.BoxName;
	string message = ViewBag.Message;
	//确认付款后，从第一期开始执行任务。操作内容根据当期状态决定。
	M_Period period = null;
	string periodStandard = string.Empty;
	if ((CommonEnum.StatusOfMission)Model.Status==CommonEnum.StatusOfMission.ConfirmPayment)
	{
		period = Model.PeriodList.Where(p => (CommonEnum.StatusOfPeriod)p.Status != CommonEnum.StatusOfPeriod.New && (CommonEnum.StatusOfPeriod)p.Status != CommonEnum.StatusOfPeriod.Finish).FirstOrDefault();
		if (period!=null)
		{
			periodStandard = period.Standard;
		}
	}
}
<link href="Content/back.css" rel="stylesheet" />
<link href="Content/style.css" rel="stylesheet" />
<script>
	function SubmitForm(action) {
		$("#" + "divPaymentMessage").hide();
		if (action == "ConfirmAndPay") {
			var boolCheck = $('input:radio[name="paymentType"]').is(":checked");
			if (!boolCheck) {
				$("#" + "divPaymentMessage").show();
				return;
			}
		}
		frm.action = "/Mission/"+action;
		frm.submit();
	}
	function ShowBox(id) {
		$(id).show();
	}
	function HideBox(id) {
		$(id).hide();
	}
</script>
<script>
	$(function () {
		var boxName = $("#hdnBoxName").val();
		if (boxName!=null&&boxName.length>0) {
			var box = $("#"+boxName);
			if (box!=null) {
				box.show();
			}
		}
	});
	$(function () {
		var message = $("#hdnMessage").val();
		if (message != null && message.length > 0) {
			alert(message);
		}
	});
</script>
<input type="hidden" id="hdnBoxName" value="@boxName" />
<input type="hidden" id="hdnMessage" value="@message" />
<div class="brand-warp">
    <div class="utc">
        <div class="uct_left">
            @Html.Partial("_LayoutLeft")
        </div>
        <div class="utc_right">
            <div class="utc_right_title Gray18B">任务详情</div>
            <div class="utc_right_title_right"></div>
            <div class="clear"></div>
            <div class="utc_right_uc">
                <div class="utc_right_uc_taskname">
                    <span class="Black20b">@Html.Raw(Model.FkMissionType.ValueStr)任务：@Model.Title &nbsp;&nbsp;
                    @if ((CommonEnum.StatusOfMission)Model.Status == CommonEnum.StatusOfMission.Cancel)
                    {
                        <img src="~/Images/icon/7_09.png">
					}
					else if ((CommonEnum.StatusOfMission)Model.Status == CommonEnum.StatusOfMission.Complete || (CommonEnum.StatusOfMission)Model.Status == CommonEnum.StatusOfMission.End)
                    {
                        <img src="~/Images/icon/7_11.png">
                    }
                    else
                    {
                        <img src="~/Images/icon/7_10.png">
                    }</span><br>
                    &yen; 赏金：<span class="red"> @Model.TotalPrice 元</span>&nbsp;&nbsp;&nbsp;&nbsp; 已支付:<span class="red">@{@Model.PeriodList.Where(p=>(CommonEnum.StatusOfPeriod)p.Status==CommonEnum.StatusOfPeriod.Finish).Sum(p=>p.Price)}元</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="Gray12">&nbsp;</span>
                </div>
                <div class="utc_right_uc_taskOpeart">
					<form id="frm" method="post">
						@Html.HiddenFor(m=>m.Id)
						@switch ((CommonEnum.StatusOfMission)@Model.Status)
						{
							case CommonEnum.StatusOfMission.Issue:
								//发布后等待BD接单。其它角色不能操作。
								break;
							case CommonEnum.StatusOfMission.Connecting:
								//BD接洽后，需要上传合同，只有BD可以操作。其它角色不能操作。
								break;
							case CommonEnum.StatusOfMission.Contract:
								if (_userGroup == CommonEnum.GroupOfCustomer.Member)
								{
									<button class="utc_button" type="button" onclick="ShowBox('#divPay');">确认合同并付款</button>
								}
								break;
							case CommonEnum.StatusOfMission.ConfirmContract:
								//确认合同时直接选择支付方式。
								//如果是线上支付，连接支付平台，直接支付。如果成功，直接过渡到支付已确认状态。如果失败，过渡到支付中状态。后续可以重新支付。
								//如果是线下支付，跳转到支付中状态。后续由BD人员确认支付。
								if (_userGroup == CommonEnum.GroupOfCustomer.Member&&!Model.IsOffLinePayment)
								{
									<button class="utc_button" type="button" onclick="SubmitForm('ConfirmPayment')">付款</button>
								}
								break;
							case CommonEnum.StatusOfMission.ConfirmPayment:
								if (period != null)
								{
									switch ((CommonEnum.StatusOfPeriod)period.Status)
									{
										case CommonEnum.StatusOfPeriod.Run:
											if (_userGroup == CommonEnum.GroupOfCustomer.OpenShop)
											{
												<button class="utc_button" type="button" onclick="ShowBox('#divCheck')">提交验收</button>
											}
											break;
										case CommonEnum.StatusOfPeriod.Check:
											if (_userGroup == CommonEnum.GroupOfCustomer.Member)
											{
												<button class="utc_button" type="button" onclick="ShowBox('#divPass')">已合格</button>
												<button class="utc_button" type="button" onclick="ShowBox('#divFailed');">不合格</button>
											}
											break;
										case CommonEnum.StatusOfPeriod.Failed:
											if (_userGroup == CommonEnum.GroupOfCustomer.OpenShop)
											{
												<button class="utc_button" type="button" onclick="SubmitForm('Check')">提交验收</button>
												<button class="utc_button" type="button" onclick="ShowBox('#divAppeal');">申诉</button>
											}
											break;
										case CommonEnum.StatusOfPeriod.Payment:
											if (Model.IsOffLinePayment)
											{
												if (_userGroup==CommonEnum.GroupOfCustomer.OpenShop)
												{
													<button class="utc_button" type="button" onclick="SubmitForm('ConfirmPaymentPeriod')">确认收款</button>	
												}
											}
											else
											{
												if (_userGroup==CommonEnum.GroupOfCustomer.Member)
												{
													<button class="utc_button" type="button" onclick="SubmitForm('Payment')">付款</button>
												}
											}
											break;
										default:
											break;
									}
								}
								break;
							case CommonEnum.StatusOfMission.Complete:
								//竣工等待BD完成最后的打款。其它角色不能进行任何操作。
								break;
							case CommonEnum.StatusOfMission.Appeal:
								//申诉后等待BD裁决。其它角色不能进行任何操作。
								break;
							case CommonEnum.StatusOfMission.Decide:
								//裁决后不能进行任何操作。
								break;
							case CommonEnum.StatusOfMission.End:
								//结束不能进行任何操作。
								break;
							case CommonEnum.StatusOfMission.Cancel:
								//取消任务不能进行任何操作。
								break;
							default:
								break;
						}
						@if (Model.Status < (int)CommonEnum.StatusOfMission.ConfirmPayment&&(CommonEnum.StatusOfMission)Model.Status!=CommonEnum.StatusOfMission.Cancel)//未付款显示取消。
						{
							<button class="utc_button" type="button" onclick="SubmitForm('Cancel')">取消</button>
						}
						<div id="divPass" class="utc_tagbox tanchuang" style="display:none;">
							<div class="utc_tagbox_header Write14">验收通过</div>
							<div class="utc_tagbox_tbody Black14">
								任务完工状态：@periodStandard，确认任务合格并支付商家款项？
							</div>
							<div class="utc_tagbox_footer">
								<button class="add_sjbutton" style="margin:0px;" type="button" onclick="SubmitForm('Pass')">确认</button>
								<button type="button" id="btnCancelReject" class="add_sjbutton" style="margin:0px 0px 0px 40px;" onclick="HideBox('#divPass');">取消</button>
								<input type="hidden" id="rejectApplyId" name="rejectApplyId" />
							</div>
						</div>
						<div id="divFailed" class="utc_tagbox tanchuang" style="display:none;">
							<div class="utc_tagbox_header Write14">不合格原因</div>
							<div class="utc_tagbox_tbody Black14">
								任务完工状态：@periodStandard。
							</div>
							<div class="utc_tagbox_tbody Black14">
								不合格原因：<textarea name="failedReason" required></textarea>
							</div>
							<div class="utc_tagbox_footer">
								<button class="add_sjbutton" style="margin:0px;" type="button" onclick="SubmitForm('Failed')">确认</button>
								<button type="button" id="btnCancelReject" class="add_sjbutton" style="margin:0px 0px 0px 40px;" onclick="HideBox('#divFailed');">取消</button>
								<input type="hidden" id="rejectApplyId" name="rejectApplyId" />
							</div>
						</div>
						<div id="divAppeal" class="utc_tagbox tanchuang" style="display:none;">
							<div class="utc_tagbox_header Write14">申诉原因</div>
							<div class="utc_tagbox_tbody Black14">
								<textarea name="appealReason" required></textarea>
							</div>
							<div class="utc_tagbox_footer">
								<button class="add_sjbutton" style="margin:0px;" type="button" onclick="SubmitForm('Appeal')">确认</button>
								<button type="button" id="btnCancelReject" class="add_sjbutton" style="margin:0px 0px 0px 40px;" onclick="HideBox('#divAppeal');">取消</button>
								<input type="hidden" id="rejectApplyId" name="rejectApplyId" />
							</div>
						</div>
						<div id="divPay" class="utc_tagbox tanchuang" style="display:none;">
							<div class="utc_tagbox_header Write14">支付</div>
							<div class="utc_tagbox_tbody Black14">
								任务名称： @Model.Title
							</div>
							<div class="utc_tagbox_tbody Black14">
								支付金额： @Model.TotalPrice 元
							</div>
							<div class="utc_tagbox_tbody Black14">
								支付方式：
								@if (_typeOfPaymentList != null)
								{
									foreach (KeyValuePair<int, string> item in _typeOfPaymentList)
									{
										string id = "pt"+item.Key;
										if ((CommonEnum.TypeOfPayment)item.Key == CommonEnum.TypeOfPayment.OffLine)
										{
											<sapn>&nbsp;&nbsp;&nbsp;&nbsp;</sapn><input id="@id" name="paymentType" type="radio" value="@item.Key" /><label for="@id">@item.Value</label>
										}
										else
										{
											<sapn>&nbsp;&nbsp;&nbsp;&nbsp;</sapn><input id="@id" name="paymentType" type="radio" value="@item.Key" disabled="disabled" /><label for="@id">@item.Value</label>
										}
									}
								}
								<div id="divPaymentMessage" style="display:none;"><img src="/Images/icon/new_red_k.png" class="litimg"><span class="red">请选择支付方式。</span></div>
							</div>
							<div class="utc_tagbox_footer">
								<button class="add_sjbutton" style="margin:0px;" type="button" onclick="SubmitForm('ConfirmAndPay')">确认</button>
								<button type="button" id="btnCancelReject" class="add_sjbutton" style="margin:0px 0px 0px 40px;" onclick="HideBox('#divPay');">取消</button>
							</div>
						</div>
						<div id="divCheck" class="utc_tagbox tanchuang" style="display:none;">
							<div class="utc_tagbox_header Write14">提交验收</div>
							<div class="utc_tagbox_tbody Black14">
								任务完工状态：@periodStandard。是否确认完成？
							</div>
							<div class="utc_tagbox_footer">
								<button class="add_sjbutton" style="margin:0px;" type="button" onclick="SubmitForm('Check')">确认</button>
								<button type="button" id="btnCancelReject" class="add_sjbutton" style="margin:0px 0px 0px 40px;" onclick="HideBox('#divCheck');">取消</button>
								<input type="hidden" id="rejectApplyId" name="rejectApplyId" />
							</div>
						</div>
					</form>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="clear"></div>
                <div class="utc_right_uc_jdbox">
                    <ul class="ul_taskjinduimg">
                        <li>
							@*发布任务*@
                            @if (Model.Status>=(int)CommonEnum.StatusOfMission.Issue)
                            {
								<div style="background-color:#99cf19;"></div>
                                <img src="~/Images/icon/7_08.png">
                            }
                            else
                            {
								<div></div>
                                <img src="~/Images/icon/7_12.png">
                            }
                        </li>
                        <li>
							@*客服接单*@
                            @if (Model.Status >= (int)CommonEnum.StatusOfMission.Connecting)
                            {
								<div style="background-color:#99cf19;"></div>
                                <img src="~/Images/icon/7_08.png">
                            }
                            else
                            {
								<div></div>
                                <img src="~/Images/icon/7_12.png">
                            }
                        </li>
                        <li>
							@*确定商家，上传协议*@
							@if (Model.Status >= (int)CommonEnum.StatusOfMission.Contract)
							{
								<div style="background-color:#99cf19;"></div>
								<img src="~/Images/icon/7_08.png">
							}
							else
							{
								<div></div>
								<img src="~/Images/icon/7_12.png">
							}
                        </li>
                        <li>
							@*会员确认并托管资金*@
							@if (Model.Status >= (int)CommonEnum.StatusOfMission.ConfirmPayment)
							{
								<div style="background-color:#99cf19;"></div>
								<img src="~/Images/icon/7_08.png">
							}
							else
							{
								<div></div>
								<img src="~/Images/icon/7_12.png">
							}
                        </li>
                        <li>
							@*商家提交完工申请*@
							@if (Model.Status == (int)CommonEnum.StatusOfMission.ConfirmPayment)
							{
								int status = Model.PeriodList.Where(p => (CommonEnum.StatusOfPeriod)p.Status != CommonEnum.StatusOfPeriod.New).Min(p => p.Status);
								if (status == (int)CommonEnum.StatusOfPeriod.Check)
								{
									<div style="background-color:#99cf19;"></div>
									<img src="~/Images/icon/7_08.png">
								}
								else
								{
									<div></div>
									<img src="~/Images/icon/7_12.png">
								}
							}
							else if (Model.Status >= (int)CommonEnum.StatusOfMission.End||Model.Status==(int)CommonEnum.StatusOfMission.Complete)
							{
								<div style="background-color:#99cf19;"></div>
								<img src="~/Images/icon/7_08.png">
							}
							else
							{
								<div></div>
								<img src="~/Images/icon/7_12.png">
							}
                        </li>
                        <li>
							@*会员验收并付款*@
							@if (Model.Status >= (int)CommonEnum.StatusOfMission.End || Model.Status == (int)CommonEnum.StatusOfMission.Complete)
							{
								<img src="~/Images/icon/7_08.png">
							}
							else
							{
								<img src="~/Images/icon/7_12.png">			
							}
                        </li>
                    </ul>
                    <div class="clear"></div>
                    <ul class="ul_taskjindutxt Gray12">
                        <li style="width:13%;">
							<span>发布任务</span><br>
						@if (Model.Status>=(int)CommonEnum.StatusOfMission.Issue)
						{
							@Model.PublisheTime.ToString(Define.DATE_FORMAT_MINUTE)
						}
                        </li>
                        <li style="width:19%;">
							<span>客服接单</span><br>
							@if (Model.Status >= (int)CommonEnum.StatusOfMission.Connecting)
							{
								@Html.Raw(Model.ConnectingTime.HasValue == true ? Model.ConnectingTime.Value.ToString(Define.DATE_FORMAT_MINUTE) : "")
							}
                        </li>
                        <li style="width:13%;">
							<span>确定商家，上传协议</span><br>
							@if (Model.Status >= (int)CommonEnum.StatusOfMission.Contract)
							{
								@Html.Raw(Model.ReceiveTime.HasValue == true ? Model.ReceiveTime.Value.ToString(Define.DATE_FORMAT_MINUTE) : "")
							}
                        </li>
                        <li style="width:18%;">
							<span>会员确认并托管资金</span><br>
							@if (Model.Status >= (int)CommonEnum.StatusOfMission.ConfirmPayment)
							{
								@Html.Raw(Model.ConfirmPaymentTime.HasValue == true ? Model.ConfirmPaymentTime.Value.ToString(Define.DATE_FORMAT_MINUTE) : "")
							}
                        </li>
                        <li style="width:15%;">
							<span>商家提交完工申请</span><br>
							@if (Model.Status == (int)CommonEnum.StatusOfMission.ConfirmPayment)
							{
								if (period!=null)
								{
									if (period.Status == (int)CommonEnum.StatusOfPeriod.Check)
									{
										@Html.Raw(period.FirstApplyCheckTime.HasValue == true ? period.FirstApplyCheckTime.Value.ToString(Define.DATE_FORMAT_MINUTE) : "")
									}
								}
							}
							else if (Model.Status >= (int)CommonEnum.StatusOfMission.End||Model.Status==(int)CommonEnum.StatusOfMission.Complete)
							{
								DateTime? dt = Model.PeriodList.Min(p=>p.FirstApplyCheckTime);
								@dt.ToString()
							}
							</li>
                        <li style="width:16%;padding-right:4%">
							<span>会员验收并付款</span><br>
							@if (Model.Status >= (int)CommonEnum.StatusOfMission.End || Model.Status == (int)CommonEnum.StatusOfMission.Complete)
							{
								@Html.Raw(Model.LastTime.ToString(Define.DATE_FORMAT_MINUTE))
                            }
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="utc_right_uc_taskinfobox">
                    <span class="Black16">任务描述：</span>
                    <p>
                      @Model.Description
                    </p>
                    <span class="Black14b">任务截止期限：</span>@Model.LimitDate.ToString(Define.DATE_FORMAT_DAY)<br>
                    <span class="Black14b">发布人：</span>@Model.PublisherContact @Model.PublisherMobile<br>
					@if (Model.Status>=(int)CommonEnum.StatusOfMission.Connecting)
					{
						<span class="Black14b">跟进客服：</span>@Model.FkBd.Name  @Model.FkBd.Mobile<br> 
					}
					@if (Model.Status >= (int)CommonEnum.StatusOfMission.Contract)
					{
						<span class="Black14b" style="padding-top:10px">合作协议：</span> <a href="@_contractUrl" target="_blank">点击下载</a><br>
					}
					@if (Model.PeriodList != null && Model.PeriodList.Count > 0)
					{
						<span class="Black14b">付款方式：</span>
						<div>
							@foreach (M_Period p in Model.PeriodList)
							{
							<span>第 @p.Period 笔 @p.Price 元，完成节点为：@p.Standard </span><br />
							}
						</div>
					}
					@if ((CommonEnum.StatusOfMission)Model.Status==CommonEnum.StatusOfMission.Appeal)
					{
						<span class="Black14b">商家申诉：</span>@Model.AppealReason<br>
					}
					@if (!string.IsNullOrEmpty(Model.DecideResult))
					{
						<span class="Black14b">仲裁结果：</span>@Model.DecideResult<br> 
					}
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>