@using System.Collections.Concurrent
@using System.Web.UI.WebControls
@using YG.SC.Common.AttributeExtention
@model YG.SC.Model.Project.ProjectServiceViewModel
@{
    ViewBag.Title = "添加项目";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        .form-horizontal .form-control {
            width: 200px;
            float: left;
        }

        .col-sm-1 {
            min-width: 120px;
        }

        #create-warning {
            display: none;
        }
    </style>
}
@section Scripts {
    <script src="~/Scripts/select2.min.js"></script>
    <script>
        function initShowError() {
            var warnEle = $("#create-warning");
            if (warnEle.html().length > 0) warnEle.show();
            else warnEle.hide();
        }
        initShowError();
        $("#selSkuGoods").select2({ maximumSelectionSize: 1 });
    </script>
}
<div class="panel panel-default">
    <div class="panel-heading">添加项目团队成员</div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" action="/ProjectServiceTeam/AddTeam" id="addform" method="POST" enctype="multipart/form-data">
            <div class="alert alert-danger" id="create-warning">@TempData["ERROR"]</div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-sm-1 control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProjectList, new {@class = "col-sm-1 control-label"})
                @Html.DropDownListFor(m => m.ProjectList, Model.ProjectList)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IsVip, new {@class = "col-sm-1 control-label"})
                @{
                    if (Model != null)
                    {
                        var tmp = Model.IsVip;
                        @Html.CheckBox("IsVip", tmp, new {id = "ckIsVip"})
                    }
                    else
                    {
                        @Html.CheckBox("IsVip", true, new {id = "ckIsVip"})
                    }
                }
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PicUrl, new {@class = "col-sm-1 control-label"})
                @Html.TextBoxFor(m => m.PicUrl, new {@class = "form-control", @type = "file", @required = "required"})
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1">
                    <button id="btnSubmit" type="submit" class="btn btn-primary " style="float: left">添 加</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {
        $("#addform").validate({
            rules: {
                PictureImg: {
                    required: true,
                    accpt: "png,jpg,jpeg"
                }
            }
        });
    })
</script>



