@using YG.SC.DataAccess
@using YG.SC.Model
@using YG.SC.Model.Project
@using YG.SC.Service
@{
    ViewBag.Title = "项目服务团队管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tuple = Model as Tuple<ProjectService[], PagerEntity>;
    var idx = tuple.Item2.Idx;
    var selRecsts = ViewBag.SelRecsts as string;
    var listShopProject = ViewBag.ShopProject as List<ProjectService>;
}
@section styles{
    <style>
        .search-action {
            padding-top: 10px;
        }

        .glyphicon {
            margin-right: .5em;
        }

        form label.control-label {
            padding-left: 5px;
        }
    </style>
}
@section Scripts {
    <script>
        $("#selRecsts").val(@selRecsts);
        //删除
        function Delete(id, state) {
            var con = true;
            if (state == "delete") {
                con = confirm("确定删除？");
            }
            if (con) {
                $.ajax({
                    type: "post",
                    url: "/ProjectServiceTeam/Delete",
                    data: {
                        Id: id,
                        state: state
                    },
                    success: function (data) {
                        window.location.reload();

                    }
                });

            }
        }
        //有效
        function Update(id) {

            //var   con = confirm("确定删除？");
            var con = true;
            if (con) {
                $.ajax({
                    type: "post",
                    url: "/ShopProject/Update",
                    data: {
                        Id: id
                    },
                    success: function (data) {
                        window.location.reload();

                    }
                });

            }
        }
    </script>
}

<div class="search-criteria">
    <form class="form-inline" role="form" action="/ProjectServiceTeam/Index">
        <div class="form-group">
            <label class="control-label">项目名称</label>
            <input type="text" name="txtImageName" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <button type="submit" role="search" class="btn btn-primary btn-sm">查询</button>
        </div>
    </form>
</div>
<div class="search-action">

    <a href="/ProjectServiceTeam/Add" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span>添加</a>

</div>
<div class="table-responsive" style="margin-top: 10px;">
    <div class="search-result-table">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>是否项目经理</th>
                    <th>图片地址</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in tuple.Item1)
                {
                    <tr>
                        <td class="text-center w50">@idx</td>
                        <td class="text-center">
                            @item.Name
                        </td>
                        <td class="text-center">
                            @{
                                var strVip = "否";
                                if (@item.IsMvp != null && @item.IsMvp.Value)
                                {
                                    strVip = "是";
                                }
                                @strVip
                            }
                        </td>
                        <td class="text-center">
                            <img src="@item.PicUrl" width="100" height="100" />
                        </td>
                        <td class="text-center">
                            @{
                                var strStatus = "无效";
                                if (@item.Status != null && @item.Status == 1)
                                {
                                    strStatus = "有效";
                                }
                                @strStatus}
                        </td>
                        <td class="text-center">

                            <a href="/ProjectServiceTeam/Edit/@item.Id">编辑</a>
                            <a href="#" id="delete" onclick="Delete(@item.Id,'delete')">删除</a>
                            @*@if (item.Recsts == 0)
                                {
                                    <a href="#" id="delete" onclick="Update(@item.Id)">有效</a>
                                }
                                else
                                {
                                    <a href="#" id="delete" onclick="Delete(@item.Id,'invalid')">无效</a>
                                }*@

                        </td>
                    </tr>
                    idx++;
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        @Html.Partial("_LayoutPager", tuple.Item2)
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>


</div>

