@using YG.SC.DataAccess
@model YG.SC.DataAccess.OpenShop

@{
    ViewBag.Title = "Openshop";
    Layout = null;
}
@{var Attributes = ViewBag.Attributes as List<ShopAttributeValues>;
  }

<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
		<meta content="telephone=no" name="format-detection">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="/css/common.css">
		<link rel="stylesheet" type="text/css" href="/css/findcompany.css">
		<link rel="stylesheet" type="text/css" href="/css/zxgl-index.css">
		<script type="text/javascript" src="/js/jquery.js"></script>
		<title>@Model.Name - 开店ing</title>
		<meta name="keywords" content="">
		<meta name="description" content="">

	</head>

	<body onselectstart="return false">
		<div class="topbannerFrame" style="height:100px">
			<figure>
				<div class="find-company-topbanner">
					<img src="/img/icon/gongsi_head.jpg" style="height:100px">
					<div class="find-company-logo">
						<figure style="top:70px">
							<img src="@string.Format("http://www.kaidianing.com{0}",Model.Logo)" alt="@Model.Name" onerror="javascript:this.src='/img/icon/gongsiLOGO.gif'">
						</figure>
					</div>
					<!--<h1>远洋光华国际</h1>-->
					<p>
						@Model.Name
						<br> 关注度：@(Model.viewclick != null ? Model.viewclick : 1)

					</p>
				</div>
			</figure>
		</div>

		<nav>
			<ul class="find-company-nav clearfix">
				<li style="width:49.5%"><a class="active">企业介绍</a>
				</li>
				<li style="width:49.5%"><a class="click-point" data-point="2_5_3_1" href="/Openshop/img?id=@Model.Id">服务案例</a>
				</li>
			</ul>
		</nav>

		<section class="clearfix">
			<ul class="zxgl-index-modules">
				<li><i class="icon-zxgl-index-riji"><img src="/img/icon/zhuangxiu.png"></i><span>@*@Attributes[0].ValueStr*@
                    @Model.FkType.ValueStr

				                                                                           </span>
				</li>
				<li><i class="icon-zxgl-index-xzx"><img src="/img/icon/baozhengjin.png"></i><span>已缴纳保证金</span>
				</li>
				<li><i class="icon-zxgl-index-ask"><img src="/img/icon/kehu.png"></i><span>10个案例</span>
				</li>

			</ul>
		</section>

		<section>

			<article>
				
				<div class="phoneyixue phone-icon">
					<a class="click-point" data-point="2_5_1_4" href="tel:010-53381050"><span>
           @(Model.Contactphone != null ? Model.Contactphone : "010-53381050") 
           </span><b> &gt; </b><i>致电</i></a>
				</div>
				
				<div class="phoneyixue address-icon" id="addressDown">
					<span>@Model.Address</span><b> &gt; </b>
				</div>

				<a class="click-point" data-point="2_5_1_3" >
					<div class="companyintro">
						<h1>公司介绍</h1>
						<p>
                            @Model.Rmark

						</p>
					</div>
				</a>
			</article>


		</section>

		<div id="alertOveryLayer" style="position: fixed; left: 0px; top: 0px; z-index: 99999; text-align: center; bottom: 0px; right: 0px; background-color: rgba(0, 0, 0, 0.298); display: none;">
			<div style="  position: absolute;display: -moz-box;  display: -webkit-box;  display: -webkit-flex;  display: -moz-flex;  display: -ms-flexbox;  display: -ms-flex;  display: flex;top: 30%;width: 100%;">
				<div class="alert-lay" style="/* display: table-cell; */vertical-align: middle;padding: 0 10%;-webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;  display: block;  -webkit-box-flex: 1;  -moz-box-flex: 1;  -webkit-flex: 1 1 0;  -moz-flex: 1 1 0;  -ms-flex: 1 1 0;  flex: 1 1 0;  text-align: center;">
					<div class="overlay-bd" style="background-color: #fff;font-size: 14px;color: #333333;line-height: 24px;padding: 20px 15px;text-align: center;border-radius: 7px 7px 0 0;">asdf</div>
					<div class="overlay-foot" style="border-top: 1px solid #e3e3e3;">
						<div class="overlay-btn overlay-btn-ok" style="background-color: #fff;cursor: pointer;font-size: 16px;color: #00a1ff;height: 42px;line-height: 42px;border-radius: 0 0 7px 7px;">好的</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>
