@using YG.SC.DataAccess
@model YG.SC.DataAccess.OpenShop
@{
    ViewBag.Title = "开店帮-" + Model.Name;
    Layout = "~/Views/Shared/_Layouttwo.cshtml";
}
<meta name="keywords" content="线下创业,一站式整合服务平台,线下开店，线上推广运营，店铺装修，原料采购，产业链平台" />
<meta name="description" content="其具备服务对象以地域为单位,服务内容一站化，模块化,特点传播方式以口碑为重点,活动推广为辅,发布任务以推荐为核心" />
<style type="text/css">
    #slider img {
        height: 148px;
    }

    #image img {
        height: 600px;
    }
</style>
<link href="~/Content/kaidian.css" rel="stylesheet" />
<div class="brand-warp">
    <div class="brand-info">
        <div class="brand-title">
            <div>
                @{
                    string strStyle = YG.SC.OpenShop.Controllers.OpenShopController.GetWH(@Model.Logo, 295, 242);
                }
                <img src="@Model.Logo" style="@strStyle" />
            </div>
        </div>
        <div class="brand-intr">
            <div class="brand-desc">
                <p>
                    <span class="brand-name">@Model.Name</span>
                    @*<span title="@Model.Rmark"> @(Model.Rmark.Length<550?Model.Rmark:(Model.Rmark.Substring(0,500)+"........"))</span>*@
                    @Model.Rmark
                </p>
            </div>
            @if (@Model.Url != "" & @Model.Url != null)
            {
                <div class="brand-link">网址：<a href="http://@Model.Url" target="_blank">@Model.Url</a></div>
            }
            @if (@Model.VidoUrl != "" & @Model.VidoUrl != null)
            {
                <div class="brand-link">视频地址：<a href="http://@Model.VidoUrl" target="_blank">@Model.VidoUrl</a></div>
            }
        </div>
    </div>
    <div class="brand-photobox">
        <div class="warp-photo">
            <ul id="slideshow">
                @if (Model.OpenShopPhoto != null)
                {
                    foreach (var item in Model.OpenShopPhoto)
                    {
                        <li>
                            <h3></h3>
                            <p></p>
                            <span>@item.Photo</span>
                            <img src="@item.PhotoSmall" alt="Sea Turtle" />
                        </li>
                    }
                }
                @*<li>
                        <h3></h3>
                        <p></p>
                        <span>/photos/orange-fish.jpg</span>
                        <img src="/thumbnails/scol02.jpg" alt="Sea Turtle" />
                    </li>
                    <li>
                        <h3></h3>
                        <p></p>
                        <span>/photos/small-fish.jpg</span>
                        <a href="#">
                            <img src="/thumbnails/scol01.jpg" alt="Orange Fish" /></a>
                    </li>
                    <li>
                        <h3></h3>
                        <p></p>
                        <span>/photos/orange-fish.jpg</span>
                        <img src="/thumbnails/scol02.jpg" alt="Sea Turtle" />
                    </li>
                    <li>
                        <h3></h3>
                        <p></p>
                        <span>/photos/small-fish.jpg</span>
                        <a href="#">
                            <img src="/thumbnails/scol01.jpg" alt="Orange Fish" /></a>
                    </li>
                    <li>
                        <h3></h3>
                        <p></p>
                        <span>/photos/orange-fish.jpg</span>
                        <img src="/thumbnails/scol02.jpg" alt="Sea Turtle" />
                    </li>
                    <li>
                        <h3></h3>
                        <p></p>
                        <span>/photos/small-fish.jpg</span>
                        <a href="#">
                            <img src="/thumbnails/scol01.jpg" alt="Orange Fish" /></a>
                    </li>*@
            </ul>
            <div id="wrapper">
                <div id="fullsize">
                    <div id="imgprev" class="imgnav" title="Previous Image"></div>
                    <div id="imglink"></div>
                    <div id="imgnext" class="imgnav" title="Next Image"></div>
                    <div id="image"></div>
                    <div id="information">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div id="thumbnails">
                    <div id="slideleft" title="Slide Left"></div>
                    <div id="slidearea">
                        <div id="slider"></div>
                    </div>
                    <div id="slideright" title="Slide Right"></div>
                </div>
            </div>

        </div>


    </div>

    <div class="clear"></div>
    @*<div class="brand-shop">
            <div class="kaidian-shop-title"><img src="/images/kaidianshop.jpg" /></div>
            <div class="kaidian-success">
                <!-- picrotate_left start -->
                <div class=blk_18>
                    <a onmouseup="ISL_StopUp_1()" class='LeftBotton' onmousedown="ISL_GoUp_1()" onmouseout='ISL_StopUp_1()' href="javascript:void(0);" target=_self></a>
                    <div class="pcont" id="ISL_Cont_1">
                        <div class="ScrCont">
                            <div id="List1_1">

                                <ul class="kaidian-usccess-ul">
                                    @if (Model.OpenShopShopProject != null)
                                    {
                                        foreach (var item in Model.OpenShopShopProject)
                                        {
                                            <li class="kd-li">
                                                <div class="kd-imgbox">
                                                    <div class="">
                                                        <a href="/Project/index?id=@item.Id">
                                                            <img width="318" height="206" src="@item.ShopProject.ProjectPhoto" />
                                                        </a>
                                                    </div>
                                                    <div class="kd-pricebox">
                                                        ￥<br />
                                                        @item.ShopProject.JZongJianZhuMianJi
                                                    </div>
                                                </div>
                                                <div class="kd-info">
                                                    <h4>@item.ShopProject.NAME</h4>
                                                    <p>@item.ShopProject.YouShi</p>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                                <!-- piclist end -->
                            </div>
                            <div id=List2_1></div>
                        </div>
                    </div><a onmouseup="ISL_StopDown_1()" class="RightBotton" onmousedown='ISL_GoDown_1()' onmouseout='ISL_StopDown_1()' href="javascript:void(0);" target=_self></a>
                </div>
                <script type=text/javascript>
                <!--
                picrun_ini()
                //-->
                </script>
                <!-- picrotate_left end -->
            </div>
        </div>*@

    <div class="clear"></div>
</div>
@*<div style="width:1200px;height:40px;margin:0 auto"></div>*@
<script type="text/javascript" src="/Scripts/compressed.js"></script>
<script type="text/javascript">
    _gid('slideshow').style.display = 'none';
    _gid('wrapper').style.display = 'block';
    var slideshow = new TINY.slideshow("slideshow");
    window.onload = function () {
        slideshow.auto = true;
        slideshow.speed = 5;
        slideshow.link = "linkhover";
        slideshow.info = "information";
        slideshow.thumbs = "slider";
        slideshow.left = "slideleft";
        slideshow.right = "slideright";
        slideshow.scrollSpeed = 4;
        slideshow.spacing = 20;
        slideshow.active = "#666";
        slideshow.init("slideshow", "image", "imgprev", "imgnext", "imglink");
    }
</script>

<script language="javascript" type="text/javascript">

    //图片滚动列表 mengjia 070927
    var Speed_1 = 10; //速度(毫秒)
    var Space_1 = 20; //每次移动(px)
    var PageWidth_1 = 678; //翻页宽度
    var interval_1 = 7000; //翻页间隔
    var fill_1 = 0; //整体移位
    var MoveLock_1 = false;
    var MoveTimeObj_1;
    var MoveWay_1 = "right";
    var Comp_1 = 0;
    var AutoPlayObj_1 = null;
    function GetObj(objName) { if (document.getElementById) { return eval('document.getElementById("' + objName + '")') } else { return eval('document.all.' + objName) } }
    function AutoPlay_1() { clearInterval(AutoPlayObj_1); AutoPlayObj_1 = setInterval('ISL_GoDown_1();ISL_StopDown_1();', interval_1) }
    function ISL_GoUp_1() { if (MoveLock_1) return; clearInterval(AutoPlayObj_1); MoveLock_1 = true; MoveWay_1 = "left"; MoveTimeObj_1 = setInterval('ISL_ScrUp_1();', Speed_1); }
    function ISL_StopUp_1() {
        if (MoveWay_1 == "right") { return }; clearInterval(MoveTimeObj_1); if ((GetObj('ISL_Cont_1').scrollLeft - fill_1) % PageWidth_1 != 0) { Comp_1 = fill_1 - (GetObj('ISL_Cont_1').scrollLeft % PageWidth_1); CompScr_1() } else { MoveLock_1 = false }
        AutoPlay_1()
    }
    function ISL_ScrUp_1() {
        if (GetObj('ISL_Cont_1').scrollLeft <= 0) { GetObj('ISL_Cont_1').scrollLeft = GetObj('ISL_Cont_1').scrollLeft + GetObj('List1_1').offsetWidth }
        GetObj('ISL_Cont_1').scrollLeft -= Space_1
    }
    function ISL_GoDown_1() { clearInterval(MoveTimeObj_1); if (MoveLock_1) return; clearInterval(AutoPlayObj_1); MoveLock_1 = true; MoveWay_1 = "right"; ISL_ScrDown_1(); MoveTimeObj_1 = setInterval('ISL_ScrDown_1()', Speed_1) }
    function ISL_StopDown_1() {
        if (MoveWay_1 == "left") { return }; clearInterval(MoveTimeObj_1); if (GetObj('ISL_Cont_1').scrollLeft % PageWidth_1 - (fill_1 >= 0 ? fill_1 : fill_1 + 1) != 0) { Comp_1 = PageWidth_1 - GetObj('ISL_Cont_1').scrollLeft % PageWidth_1 + fill_1; CompScr_1() } else { MoveLock_1 = false }
        AutoPlay_1()
    }
    function ISL_ScrDown_1() {
        if (GetObj('ISL_Cont_1').scrollLeft >= GetObj('List1_1').scrollWidth) { GetObj('ISL_Cont_1').scrollLeft = GetObj('ISL_Cont_1').scrollLeft - GetObj('List1_1').scrollWidth }
        GetObj('ISL_Cont_1').scrollLeft += Space_1
    }
    function CompScr_1() {
        if (Comp_1 == 0) { MoveLock_1 = false; return }
        var num, TempSpeed = Speed_1, TempSpace = Space_1; if (Math.abs(Comp_1) < PageWidth_1 / 2) { TempSpace = Math.round(Math.abs(Comp_1 / Space_1)); if (TempSpace < 1) { TempSpace = 1 } }
        if (Comp_1 < 0) {
            if (Comp_1 < -TempSpace) { Comp_1 += TempSpace; num = TempSpace } else { num = -Comp_1; Comp_1 = 0 }
            GetObj('ISL_Cont_1').scrollLeft -= num; setTimeout('CompScr_1()', TempSpeed)
        } else {
            if (Comp_1 > TempSpace) { Comp_1 -= TempSpace; num = TempSpace } else { num = Comp_1; Comp_1 = 0 }
            GetObj('ISL_Cont_1').scrollLeft += num; setTimeout('CompScr_1()', TempSpeed)
        }
    }
    function picrun_ini() {
        GetObj("List2_1").innerHTML = GetObj("List1_1").innerHTML;
        GetObj('ISL_Cont_1').scrollLeft = fill_1 >= 0 ? fill_1 : GetObj('List1_1').scrollWidth - Math.abs(fill_1);
        GetObj("ISL_Cont_1").onmouseover = function () { clearInterval(AutoPlayObj_1) }
        GetObj("ISL_Cont_1").onmouseout = function () { AutoPlay_1() }
        AutoPlay_1();
    }
    //产品展示滚动图片结束
    //-->
</script>
<style type="text/css">
    .blk_18 {
        /*BORDER-RIGHT: #e3e3e3 1px solid; BORDER-TOP: #e3e3e3 1px solid; MARGIN-TOP: 8px; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-LEFT: #e3e3e3 1px solid; WIDTH: 710px; BORDER-BOTTOM: #e3e3e3 1px solid; ZOOM: 1; */
        BACKGROUND: #fff;
        width: 100%;
        height: 300px;
    }

        .blk_18 .pcont {
            FLOAT: left;
            OVERFLOW: hidden;
            WIDTH: 85%;
            margin: 0 auto;
        }

        .blk_18 .ScrCont {
            WIDTH: 32766px;
            ZOOM: 1;
        }

        .blk_18 #List1_1 {
            FLOAT: left;
        }

        .blk_18 #List2_1 {
            FLOAT: left;
        }

        .blk_18 .LeftBotton {
            BACKGROUND: url("/images/kd_sc_left.jpg") no-repeat;
            FLOAT: left;
            MARGIN: 20px 5px 0 0;
            WIDTH: 61px;
            HEIGHT: 258px;
        }

        .blk_18 .RightBotton {
            BACKGROUND: url("/images/kd_sc_right.jpg") no-repeat;
            FLOAT: left;
            MARGIN: 20px 1px;
            WIDTH: 61px;
            HEIGHT: 258px;
        }

        .blk_18 .LeftBotton {
            BACKGROUND-POSITION: 0px 0px;
        }

        .blk_18 .RightBotton {
            BACKGROUND-POSITION: 0px 0px;
            MARGIN-LEFT: 0px;
            margin-left: 0px;
        }

        .blk_18 .LeftBotton:hover {
            BACKGROUND-POSITION: -10px 0px;
        }

        .blk_18 .RightBotton:hover {
            BACKGROUND-POSITION: 10px 0px;
        }

        .blk_18 .pl IMG {
            DISPLAY: block;
            MARGIN: 6px auto 1px;
            CURSOR: pointer;
            BORDER-TOP-STYLE: none;
            BORDER-RIGHT-STYLE: none;
            BORDER-LEFT-STYLE: none;
            BORDER-BOTTOM-STYLE: none;
        }

        .blk_18 .pl {
            BORDER-RIGHT: #f3f3f3 1px solid;
            BORDER-TOP: #f3f3f3 1px solid;
            FLOAT: left;
            BORDER-LEFT: #f3f3f3 1px solid;
            WIDTH: 114px;
            LINE-HEIGHT: 24px;
            BORDER-BOTTOM: #f3f3f3 1px solid;
            TEXT-ALIGN: center;
            TEXT-DECORATION: underline;
        }

        .blk_18 A.pl:hover {
            BORDER-RIGHT: #ff9900 1px solid;
            BORDER-TOP: #ff9900 1px solid;
            BACKGROUND: #fff;
            BORDER-LEFT: #ff9900 1px solid;
            COLOR: #ff9900;
            BORDER-BOTTOM: #ff9900 1px solid;
        }

    .commu_cont3 {
        MARGIN: 9px 7px 7px;
        LINE-HEIGHT: 150%;
    }

        .commu_cont3 UL {
            WIDTH: 188px;
        }
</style>
