@using YG.SC.DataAccess
@using YG.SC.WebUI.Enum

@{
    ViewBag.Title = "添加开店帮成功项目";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<OpenShop> listOpenShop = ViewBag.OpenShopLsit as List<OpenShop>;
    ;
    List<ShopProject> listShopProject = ViewBag.OpenShopProjectLsit as List<ShopProject>;
}
@section styles{
    <style>
        .form-horizontal .form-control {
            width: 200px;
            float: left;
        }

        .col-sm-1 {
            min-width: 120px;
        }

        #create-warning {
            display: none;
        }
    </style>
}
@section Scripts {
    <script src="~/Scripts/select2.min.js"></script>
    <script>
        function initShowError() {
            var warnEle = $("#create-warning");
            if (warnEle.html().length > 0) warnEle.show();
            else warnEle.hide();
        }
        initShowError();
        $("#OpenShopId").select2();
        $("#ShopProjectId").select2();
    </script>
}
<div class="panel panel-default">
    <div class="panel-heading">添加开店帮成功项目</div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" action="/OpenShop/OpenProjectAdd" id="addform" method="POST" enctype="multipart/form-data">
            <div class="alert alert-danger" id="create-warning">@TempData["ERROR"]</div>
            <div class="form-group">
                <label class="col-sm-1 control-label">开店帮名称</label>
                <select id="OpenShopId" name="OpenShopId" class="form-control">
                    @foreach (var openShop in listOpenShop)
                    {
                        <option value="@openShop.Id">@openShop.Name</option>
                    }

                </select>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">项目名称</label>
                <select id="ShopProjectId" name="ShopProjectId" class="form-control">
                    @foreach (var shopProject in listShopProject)
                    {
                        <option value="@shopProject.Id">@shopProject.NAME</option>
                    }

                </select>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1">
                    <button id="btnSubmit" type="submit" class="btn btn-primary " style="float: left">增 加</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {
        $("#addform").validate({
            rules: {
                Logo: {
                    required: true,
                    accpt: "png,jpg,jpeg"
                },
                QRCode: {
                    required: true,
                    accpt: "png,jpg,jpeg"
                }
            }
        });
    })
</script>



