@model YG.SC.DataAccess.ShopBrand
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/siteweb.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/KindEditor/themes/default/default.css" rel="stylesheet" />
<link href="~/Content/KindEditor/plugins/code/prettify.css" rel="stylesheet" />
<script src="~/Content/KindEditor/kindeditor.js"></script>
<script src="~/Content/KindEditor/lang/zh_CN.js"></script>
<script src="~/Content/KindEditor/plugins/code/prettify.js"></script>
@section Scripts {
    <script src="~/Scripts/select2.min.js"></script>
    <script>
        function initShowError() {
            var warnEle = $("#create-warning");
            if (warnEle.html().length > 0) warnEle.show();
            else warnEle.hide();
        }
        initShowError();
        $("#selAttribute").select2();
        @*   var models=@Model.ShopBrandAttributeValues;
        for (var i = 0; i < models; i++) {
            $("#selAttribute").select2('val', models[i].AttributeValuesId);
        }*@

    </script>
}
<script>
    KindEditor.ready(function (K) {
        var editor1 = K.create('#content1', {
            cssPath: '../Content/KindEditor/plugins/code/prettify.css',
            uploadJson: '/Merchant/ProcessFile',
            fileManagerJson: '/Merchant/ProcessFileManger',
            allowFileManager: true,
            afterCreate: function () {
                var self = this;
                K.ctrl(document, 13, function () {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
                K.ctrl(self.edit.doc, 13, function () {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
            }
        });
        prettyPrint();
    });
</script>
<div class="body-warp">
    <div class="add_jindubox">
        <ul class="ul_jindutxt Gray16">
            <li class="red">提交公司信息</li>
            <li>上传案例图片</li>
            <li>上传资质图片</li>
            <li>平台审核</li>
            <li>注册成功</li>
        </ul>
        <ul class="ul_jinduimg">
            <li>
                <div style="background-color:#d72315;"></div>
                <img src="~/Images/icon/3_01.jpg" />
            </li>
            <li>
                <div class="bred"></div>
                <img src="~/Images/icon/1_02.png">
            </li>
            <li>
                <div></div>
                <img src="~/Images/icon/1_03.png">
            </li>
            <li>
                <div></div>
                <img src="~/Images/icon/1_04.png">
            </li>
            <li>
                <div></div>
                <img src="~/Images/icon/1_05.png">
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>

<div class="body-warp">
    <span class="Gray18">添加商家信息</span>
</div>
<form action="/Merchant/ShopBrand_add1" role="form" method="POST" enctype="multipart/form-data">

    <div class="body-warp">
        <div class="addbox">
            <div class="add_sjtitlebox Red22">
                商家信息
            </div>
            <div class="add_sjinfobox">
                <div class="add_sjmenubox Gray16"><span class="red">*</span>商家名称：</div>
                <div class="add_sjcontentbox">
                    <input type="text" name="Name" id="Name" value="@Model.Name" required="required" oninvalid="setCustomValidity('请输入商家名称！');" oninput="setCustomValidity('');" placeholder="请输入商家名称" />
                </div>
                <div class="add_sjmenubox Gray16">商家简称：</div>
                <div class="add_sjcontentbox">
                    <input type="text" name="Abbreviation" id="Abbreviation" value="@Model.Abbreviation" placeholder="请输入商家简称" />
                </div>
                <div class="add_sjmenubox Gray16"><span class="red">*</span>商家类别：</div>
                <div class="add_sjcontentbox">
                    @{ var shoptypeList = (List<SelectListItem>)ViewBag.shopType;}
                    @Html.DropDownList("Type", shoptypeList)
                </div>
                <div class="add_sjmenubox Gray16"><span class="red">*</span>商家地址：</div>
                <div class="add_sjcontentbox">
                    <input type="text" name="Address" id="Address" value="@Model." required="required" oninvalid="setCustomValidity('请输入商家地址！');" oninput="setCustomValidity('');" placeholder="请输入商家地址" />

                </div>
                <div class="add_sjmenubox Gray16">商家网址：</div>
                <div class="add_sjcontentbox">
                    <input type="text" name="Url" id="Url" value="@Model.Url" required="required" oninvalid="setCustomValidity('请输入商家网址！');" oninput="setCustomValidity('');" placeholder="请输入商家网址" />

                </div>
                <div class="add_sjmenubox Gray16"><span class="red">*</span>商家介绍：</div>
                <div class="add_sjcontentbox">
                    <textarea id="content1" cols="100" rows="8" style="width: 700px; height: 200px; visibility: hidden;" required="required" oninvalid="setCustomValidity('请输入商家介绍！');" oninput="setCustomValidity('');" placeholder="请输入商家介绍" name="Rmark">
                        @Model.Rmark
                    </textarea>
                </div>
                <div class="clear"></div>
            </div>

        </div>

    </div>
    <div class="body-warp">
        <div class="addbox">
            <div class="add_imgbox">
                <div class="addimginfobox">
                    <div class="addimgtitlebox"><span class="red">*</span>商家logo</div>
                    <div class="addimgcontentbox"><img name="Logo" id="Logo" src="@Html.Raw(string.IsNullOrEmpty(Model.Logo) == true ? "/Images/9_03.jpg" : Model.Logo)" width="300" height="210" id="logoimg" alt=""></div>
                    <input type="hidden" name="Logo" value="@Model.Logo" />
                    <button class="addimgimg_button" onclick="Logofile.click()">上传</button>
                    <input type="file" id="Logofile" name="Logofile" style="display:none" onchange="upfile.value=this.value">
                </div>
                <div class="addimginfobox">
                    <div class="addimgtitlebox"><span class="red">*</span>商家微信二维码</div>
                    <div class="clear"></div>
                    <div class="addimgcontentbox">
                        <img src="@Html.Raw(string.IsNullOrEmpty(Model.QRCode) == true ? "/Images/9_03.jpg" : Model.QRCode)" width="300" height="210" id="QRcodeimg" alt="">
                        <input type="hidden" name="QRCode" value="@Model.QRCode" />
                    </div>
                    <div class="clear"></div>
                    <button class="addimgimg_button" onclick="QRcodefile.click()">修改</button>
                    <input type="file" id="QRcodefile" name="QRcodefile" style="display:none" onchange="upfile.value=this.value">

                </div>
                <div class="clear"></div>
            </div>

        </div>


    </div>
    <div class="body-warp">
        <div class="add_jindubox" style="text-align: center;margin-bottom:0px;">
            <input type="checkbox" id="xieyi" checked="" /> 同意《开店ing商家注册协议》
        </div>
    </div>
    <div class="body-warp">
        <div class="add_jindubox" style="text-align: center;margin-top:0px;">
            <input type="submit" value="下一步" id="add1" class="add_sjbutton" />
        </div>
    </div>

</form>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Logofile").change(function () {
            $('form').attr('action', '/Merchant/uploadimg');
            $('form').attr('method', "post");
            $('form').submit();
        })
        $("#QRcodefile").change(function () {
            $('form').attr('action', '/Merchant/uploadimg');
            $('form').attr('method', "post");
            $('form').submit();
        })
        $("#add1").click(function () {
            if ($("#Password").val() != $("#ctnPassword").val()) {
                alert("密码与确认密码不一致");
                return false;
            }
            if ($("#xieyi").attr("checked") != "checked") {
                alert("请先阅读开店ing商家注册协议");
                return false;
            }
        })
    })
</script>