@model YG.SC.Model.OpenShopViewModel
@{
    ViewBag.Title = "商家注册-上传资质";
}
<link href="~/Content/siteweb.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<div class="body-warp">
    <div class="add_jindubox">
        <ul class="ul_jindutxt Gray16">
            <li class="Pink16">提交公司信息</li>
            <li class="Pink16">上传案例图片</li>
            <li class="red">上传资质图片</li>
            <li>平台审核</li>
            <li>注册成功</li>
        </ul>
        <ul class="ul_jinduimg">
            <li>
                <div style="background-color:#d8b2b1;"></div>
                <img src="~/Images/icon/2_01.png">
            </li>
            <li>
                <div style="background-color:#d8b2b1;"></div>
                <img src="~/Images/icon/2_02.png">
            </li>
            <li>
                <div style="background-color:#d72315;"></div>
                <img src="~/Images/icon/3_03.jpg">
            </li>
            <li>
                <div></div>
                <img src="~/Images/icon/1_04.png">
            </li>
            <li>
                <div></div>
                <img src="~/Images/icon/1_05.png">
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>

<div class="body-warp">
    <span class="Gray18">上传资质文件</span>
    <span class="addimgts red">请上传清晰、无污物、完整的证件扫描件或彩色扫描件，文件后缀支持jpg、png、gif，上传图片大小建议在4M以下</span>
</div>

<form action="/Merchant/OpenShop_add3/@Model.Id" role="form" method="POST" enctype="multipart/form-data">
    <div class="body-warp">
        <div class="addbox">
            <div class="add_imgbox">
                <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                <div class="addimginfobox">
                    <div class="addimgtitlebox"><span class="red">*</span>营业执照扫描件</div>
                    <div class="addimgcontentbox"><img  src="@Html.Raw(string.IsNullOrEmpty(Model.BLS) == true ? "/Images/9_03.jpg" : Model.BLS)" width="300" height="210" alt=""></div>
                    <input type="hidden" name="BLS" id="BLS" value="@Model.BLS" />
                    <button type="button" class="addimgimg_button" onclick="BLSfile.click()">上传</button>
                    <input type="file" id="BLSfile" name="BLSfile" style="display:none" onchange="upfile.value=this.value" />

                </div>
                <div class="addimginfobox">
                    <div class="addimgtitlebox"><span class="red">*</span>商家法人身份证正面</div>
                    <div class="clear"></div>
                    <div class="addimgcontentbox"><img src="@Html.Raw(string.IsNullOrEmpty(Model.CIC) == true ? "/Images/9_03.jpg" : Model.CIC)" width="300" height="210" alt=""></div>
                    <input type="hidden" name="CIC" id="CIC" value="@Model.CIC" />
                    <div class="clear"></div>
                    <button class="addimgimg_button" type="button" onclick="CICfile.click()">上传</button>
                    <input type="file" id="CICfile" name="CICfile" style="display:none" onchange="upfile.value=this.value" />

                </div>
                <div class="clear"></div>
            </div>

        </div>


    </div>

    <div class="body-warp">
        <div class="add_jindubox" style="text-align: center;margin-bottom:0px;">
            <input type="checkbox" name="checkbox" id="xieyi"  /> 同意《开店ing商家注册协议》
        </div>
    </div>
    <div class="body-warp">
        <div class="add_jindubox" style="text-align: center;margin-top:0px;">
            <button type="submit" id="add1" class="add_sjbutton">提交审核</button>
        </div>
    </div>
    </form>
<script type="text/javascript">
    $(document).ready(function () {
        $("#BLSfile").change(function () {
            $('form').attr('action', '/Merchant/uploadimg');
            $('form').attr('method', "post");
            $('form').submit();
        })
        $("#CICfile").change(function () {
            $('form').attr('action', '/Merchant/uploadimg');
            $('form').attr('method', "post");
            $('form').submit();
        })
        $("#add1").click(function () {
            if ($("#BLS").val() == "")
            {
                alert("请上传营业执照扫描件");
                return false;
            }
            if ($("#CIC").val() == "") {
                alert("请上传商家法人身份证正面");
                return false;
            }
            if ($("input[name='checkbox']:checked").length < 1) {
                alert("请阅读《开店ing商家注册协议》");
                $("#add1").removeAttr("disabled");
                return false;
            }

        })
    })
</script>