@model YG.SC.DataAccess.OpenShopPhoto
@using YG.SC.OpenShop.Controllers
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        .form-horizontal .form-control {
            width: 200px;
            float: left;
        }

        .col-sm-1 {
            min-width: 128px;
        }

        #img_logoimage {
            clear: left;
            display: block;
            margin-top: 40px;
            margin-left: 128px;
        }
    </style>
}
@section Scripts {
    <script>
        function initShowError() {
            var warnEle = $("#create-warning");
            if (warnEle.html().length > 0) warnEle.show();
            else warnEle.hide();
        }
        initShowError();
    </script>
}
<div class="brand-warp">
    <div class="utc">
        @Html.Partial("_LayoutLeft")
        <div class="utc_right">
            <div class="utc_right_title"></div>

            <div class="utc_right_uc">

                <div class="panel-heading">修改开店帮图片</div>
                <div class="panel-body">
                    @using (Html.BeginForm("PhotoEdit", "Merchant", new { }, FormMethod.Post, new { @id = "form-create", @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
                    {
                        <div class="alert alert-danger" style=" display: none;" id="create-warning">@TempData["ERROR"]</div>
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.OpenShopId)
                        <div class="form-group">
                            <label class="col-sm-1 control-label">图片标题</label>
                            <input type="text" name="title" class="form-control" value="@Model.title" required="required" />
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">图片描述</label>
                            <input type="text" name="Rmark" class="form-control" value="@Model.Rmark" required="required" />
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="LogoImg">图片</label>
                            <input accept="image/png,image/jpeg" type="file" name="OpenShopPhoto" class="form-control" value="@Model.Photo" />
                            <img alt="@Model.Photo" id="img_logoimage" width="320" height="160" class="img-thumbnail" src="@string.Concat(CommonContorllers.FileUploadOpenShopSmallImgPath, Model.Photo)">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="Recsts">是否有效</label>
                            <select id="Recsts" name="Recsts" class="form-control">
                                <option value="1" @(Model.Recsts == 1 ? "selected=\"selected\"" : "")>有效</option>
                                <option value="0" @(Model.Recsts == 0 ? "selected=\"selected\"" : "")>无效</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-1">
                                <button id="btnSubmit" type="submit" class="btn btn-primary " style="float: left">修 改</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>