@using YG.SC.WebUI.Controllers
@using YG.SC.DataAccess
@model YG.SC.DataAccess.ShopBrand

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AttriButes = ViewBag.AttriButes as List<YG.SC.DataAccess.ShopAttributeValues>;

}
<link href="~/Content/KindEditor/themes/default/default.css" rel="stylesheet" />
<link href="~/Content/KindEditor/plugins/code/prettify.css" rel="stylesheet" />
<script src="~/Content/KindEditor/kindeditor.js"></script>
<script src="~/Content/KindEditor/lang/zh_CN.js"></script>
<script src="~/Content/KindEditor/plugins/code/prettify.js"></script>
@section styles{
    <style>
        .form-horizontal .form-control {
            width: 200px;
            float: left;
        }

        .col-sm-1 {
            min-width: 128px;
        }

        #img_logoimage {
            clear: left;
            display: block;
            margin-top: 40px;
            margin-left: 128px;
        }
    </style>
}
@section Scripts {
    <script src="~/Scripts/select2.min.js"></script>
    <script>
        function initShowError() {
            var warnEle = $("#create-warning");
            if (warnEle.html().length > 0) warnEle.show();
            else warnEle.hide();
        }
        initShowError();
        $("#selAttribute").select2();
        @*   var models=@Model.ShopBrandAttributeValues;
        for (var i = 0; i < models; i++) {
            $("#selAttribute").select2('val', models[i].AttributeValuesId);
        }*@
        
    </script>
}
@*富文本*@
<script>
    KindEditor.ready(function (K) {
        var editor1 = K.create('#Rmark', {
            cssPath: '../Content/KindEditor/plugins/code/prettify.css',
            uploadJson: '/ShopBrand/ProcessFile',
            fileManagerJson: '/ShopBrand/ProcessFileManger',
            allowFileManager: true,
            afterCreate: function () {
                var self = this;
                K.ctrl(document, 13, function () {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
                K.ctrl(self.edit.doc, 13, function () {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
            }
        });
        prettyPrint();
    });
</script>
<div class="panel panel-default">
    <div class="panel-heading">修改品牌</div>
    <div class="panel-body">
        @using (Html.BeginForm("Edit", "ShopBrand", new { }, FormMethod.Post, new { @id = "form-create", @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
        {
            <div class="alert alert-danger" id="create-warning">@TempData["ERROR"]</div>
            @Html.HiddenFor(model => model.Id)


    <div class="form-group">
        <label class="col-sm-1 control-label">品牌名称</label>

        <input type="text" id="Name" name="Name" class="form-control" required="required" value="@Model.Name">
    </div>@*
            <div class="form-group">
                <label class="col-sm-1 control-label">品牌介绍</label>

                <input type="text" id="Rmark" name="Rmark" class="form-control" required="required" value="@Model.Rmark">
            </div>*@
            
             <div class="form-group">
                <label class="col-sm-1 control-label">业态</label>
                <select id="selAttribute" name="selAttribute" class="form-control" multiple="multiple" >
                      @foreach (var item in AttriButes)
                      {
                          var b = true;
                          foreach (var i in Model.ShopBrandAttributeValues)
                          {
                              if (item.Id == i.AttributeValuesId)
                              {
                                  b = false;
                                <option value="@item.AttributeId-@item.Id" selected="selected">@item.ValueStr</option>
                              }
                          }
                          if (b)
                          {
                                 <option value="@item.AttributeId-@item.Id">@item.ValueStr</option>
                            
                          }
                      }
                   @*   @foreach (var item in AttriButes)
                    {
                      
                                 <option value="@item.AttributeId-@item.Id">@item.ValueStr</option>
             
                    }*@
                </select>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="LogoImg">Logo：</label>
                <input accept="image/png,image/jpeg" type="file" name="LogoImg" class="form-control" value="@Model.Logo"/>
                <img alt="@Model.Logo" id="img_logoimage" width="150" height="150" class="img-thumbnail" src="@Model.Logo">
            </div>
    <div class="form-group">
        <label class="col-sm-1 control-label" for="QRCodeImg">二维码：</label>
        <input accept="image/png,image/jpeg" type="file" name="QRCodeImg" class="form-control" value="@Model.QRCode" />
        <img alt="@Model.QRCode" id="img_logoimage" width="150" height="150" class="img-thumbnail" src="@Model.QRCode">
    </div>
@*
    <div class="form-group">
        <label class="col-sm-1 control-label">图片链接：</label>
        <input type="text" id="Url" name="Url" class="form-control" required="required" value="@Model.Url">
    </div>*@
            <div class="form-group">
                <label class="col-sm-1 control-label">网址：</label>
                <input type="text" id="Url" name="Url" class="form-control" required="required" value="@Model.Url">
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">视频网址</label>
                <input type="text" id="VidoUrl" name="VidoUrl" class="form-control" required="required" value="@Model.VidoUrl">
            </div>
             <div class="form-group">
                <label class="col-sm-1 control-label" for="Recsts">是否可加盟：</label>
                <select id="JoinIn" name="JoinIn" class="form-control">
                    <option value="true" @(Model.JoinIn == true ? "selected=\"selected\"" : "")>可以加盟</option>
                    <option value="false" @(Model.JoinIn == false ? "selected=\"selected\"" : "")>不可以加盟</option>
                </select>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="Recsts">是否有效：</label>
                <select id="Recsts" name="Recsts" class="form-control">
                    <option value="1" @(Model.Recsts == 1 ? "selected=\"selected\"" : "")>有效</option>
                    <option value="0" @(Model.Recsts == 0 ? "selected=\"selected\"" : "")>无效</option>
                </select>
            </div>
             <div class="form-group">
                <label class="col-sm-1 control-label">品牌介绍</label>

                 <textarea id="Rmark" name="Rmark" cols="100" rows="8" style="width: 700px; height: 200px; visibility: hidden;" name="data">
                     @Model.Rmark
                 </textarea>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1">
                    <button id="btnSubmit" type="submit" class="btn btn-primary " style="float: left">修 改</button>
                </div>
            </div>
        }
    </div>
</div>
